.aboutMain {
  height: 120vh;
  width: 100vw;
  /* border: black 2px solid; */
}

.section {
  width: 100%;
  min-height: 100vh;
  /* background-color: rgb(18, 18, 18); */
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* background: linear-gradient(135deg, rgb(37, 31, 37), rgb(18, 18, 18)); */
}

.content-section {
  float: left;
  width: 85%;
}

.icon-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.handles {
  /* background: linear-gradient(180deg, #4B2A80, rgb(93, 38, 93)); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.imges {
  height: 3.5rem;
  width: 3.5rem;
}

.handles:hover {
  transform: scale(1.1);
}

.About-us-title {
  font-size: 4rem;
  background: linear-gradient(180deg, #3a4fa4 0%, #523988 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5%;
  margin-top: 2%;
}

.content-section .content p {
  margin-left: 5%;
  margin-top: 50px;
  margin-right: 10px;
  font-size: 17px;
  line-height: 1.5;
  color: #e4d9ff;
}

.content-section .content .button {
  margin-left: 5%;
  /* margin-top: 80px; */
  /* margin-bottom: 10px; */
  /* margin-right: 10px; */
  float: right;
  transition: transform 0.3s;
}

.content-section .content .button a {
  background-color: rgb(75, 42, 128);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #e4d9ff;
  font-size: larger;
  border-radius: 10px;
  display: inline-block;
}

.content-section .content .button a:hover {
  transform: scale(1.05);
  transition: 0.5s;
  letter-spacing: 0.1px;
}

@media (max-width: 1000px) {
  .aboutMain {
    height: 120vh;
  }
  .content-section {
    width: 100%;
    float: none;
  }
  .content-section .title {
    font-size: 50px;
  }
  .content-section .content p {
    margin-right: 5%;
    justify-content: center;
    align-items: center;
  }
  .content-section .content .button {
    float: none;
    text-align: center;
    margin: 40px auto 10px;
  }
  .About-us-title {
    font-size: 3rem;
  }

  .icon-section {
    display: none;
  }
}

