.landingMain {
    height: 100vh;
    width: 100vw;
    border: black 2px solid;
  }
  
  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 500;
  }
  
  body {
    background-color: #919daf;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .wrapper {
    box-sizing: content-box;
    /* background-color: #7f01fd; */
    padding-bottom: 200px;
    /* height: 50px;
    width: 570px;  */
    /* Increased width to accommodate larger text */
    padding: 50px 30px;
    display: flex;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    /* box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2); */
  }
  
  .wrapper p {
    font-size: 2rem;
  }
  
  .words {
    overflow: hidden;
  }
  
  span {
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #0e6ffc;
    animation: spin_words 6s infinite;
    font-size: 2rem; /* Increased font size for visibility */
  }
  
  @keyframes spin_words {
    10% {
      transform: translateY(-112%);
    }
    25% {
      transform: translateY(-100%);
    }
    35% {
      transform: translateY(-212%);
    }
    50% {
      transform: translateY(-200%);
    }
    60% {
      transform: translateY(-312%);
    }
    75% {
      transform: translateY(-300%);
    }
    85% {
      transform: translateY(-412%);
    }
    100% {
      transform: translateY(-400%);
    }
  }
  
  /* .hero section styles */
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  
  .hero h1 {
    font-weight: bold;
    font-size: 7rem; /* Reduced from 300px */
  }
  
  .hero p {
    font-size: 1.5rem; /* Reduced from 30px */
  }
  
  /* Header styles */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    background-color: rgba(13, 42, 69, 0.9);
    height: 76px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .logo-title {
    display: flex;
    align-items: center;
  }
  
  .logo-title p {
    width: 131px;
    height: 30px;
  }
  
  .title {
    margin-left: 16px;
    font-size: 0.45rem;
    font-weight: 600;
    height: 30px;
    width: 131px;
    color: rgba(229, 231, 235, 1);
  }
  
  /* Navigation links styles */
  .nav-links {
    display: flex;
    gap: 16px;
    color: rgba(229, 231, 235, 1);
    font-size: 0.625rem;
  }
  
  .link {
    font-size: 0.45rem;
    color: inherit;
    text-decoration: none;
  }
  
  .secondary-logo {
    display: flex;
    align-items: center;
  }
  